{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "entry"
        }
      ],
      "@babel/typescript",
      "@babel/react"
    ],
    "plugins": ["@babel/proposal-class-properties"]
  }
  