* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  padding: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100vh;
}

button {
  border: 0px;
}
button:focus {
  outline: 0!important;
}

/* Dice Styles */
.dice {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  background-color: #fff;
}

.dice-none {
  color: #333;
}

.dice-selected {
  color: #cb2200;
}

/* Ticket Styles */
table,
thead,
tr,
tbody,
th,
td {
  text-align: center;
}

td:hover {
  background-color: #eaeaea;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.table td {
  text-align: center;
}

.selected {
  background-color: #eaeaea;
}
